{% extends 'crudromero/layout.html' %} {% block content %}
<form
	method="post"
	class="card card-body p-5 w-75 mx-auto pt-2 mt-4"
	style="background-color: white"
>
	{% csrf_token %}
	<div class="text-center bg-secondary text-white rounded m-4 mt-2">
		<h2 class="h2">Registro de pacientes</h2>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<label for="fecha">Fecha</label>
			<input
				type="Date"
				class="form-control col-md-3"
				name="fecha"
				id="fecha"
				value="{{ paciente.fecha }}"
				min="2000-01-01"
				max="2262-04-01"
				required
			/>
			<!-- A "value" le asigno un texto placeholder por el momento -->
		</div>
		<div class="col-md-3">
			<label for="apellido">Apellido</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="apellido"
				value="{{ paciente.apellido }}"
				id="apellido"
			/>
		</div>
		<div class="col-md-2">
			<label for="nombre">Nombre</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="nombre"
				id="nombre"
				value="{{ paciente.nombre }}"
				required
			/>
		</div>
		<div class="row col-md-4 m-0 ps-0 pl-2">
			<div class="col-md-6">
				<label for="edad">Edad</label>
				<input
					type="number"
					class="form-control col-md-1"
					name="edad"
					id="edad"
					value="{{ paciente.edad }}"
				/>
			</div>
			<div class="col-md-6 px-0">
				<label for="hora">Hora</label>
				<input
					type="time"
					class="form-control col-md-3"
					name="hora"
					id="hora"
					value="{{ paciente.hora }}"
					required
					pattern="[0-9]{2}:[0-9]{2}"
				/>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<label for="dni">DNI</label>
			<input
				type="number"
				class="form-control col-md-1"
				class="form-control col-md-1"
				name="dni"
				id="dni"
				value="{{ paciente.dni }}"
				required
			/>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="sexo">Sexo</label>
				<select class="form-control" name="sexo" id="sexo">
					<option>Hombre</option>
					<option>Mujer</option>
					<option>Otro</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<label for="domicilio">Domicilio</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="domicilio"
				id="domicilio"
				value="{{ paciente.domicilio }}"
			/>
		</div>
		<div class="col-md-3">
			<label for="telefono">Teléfono</label>
			<input
				type="number"
				class="form-control col-md-1"
				name="telefono"
				id="telefono"
				value="{{ paciente.telefono }}"
			/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="barrio">Barrio</label>
			<select class="form-control" name="barrio" id="barrio" required>
				<option selected disabled hidden>{{ paciente.barrio }}</option>
				<option>Villa Elvira</option>
				<option>Tolosa</option>
				<option>Ringuelet</option>
				<option>Manuel B. Gonnet</option>
				<option>José Hernández</option>
				<option>Joaquín Gorina</option>
				<option>Los Hornos</option>
				<option>San Carlos</option>
				<option>City Bell</option>
				<option>Savoia</option>
				<option>Altos de San Lorenzo</option>
				<option>Villa Elisa</option>
				<option>El Peligro</option>
				<option>Arturo Seguí</option>
				<option>Melchor Romero</option>
				<option>Colonia Urquiza</option>
				<option>Abasto</option>
				<option>Lisandro Olmos</option>
				<option>Ángel Etcheverry</option>
				<option>Eduardo Arana</option>
				<option>Otro</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="region_sanitaria">Región sanitaria</label>
			<select
				class="form-control"
				name="region_sanitaria"
				id="region_sanitaria"
			>
				<option selected disabled hidden>
					{{ paciente.region_sanitaria }}
				</option>
				<option>Región sanitaria XI</option>
				<option>Región Sanitaria VI</option>
				<option>Otras</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="intervencion">Intervención</label>
			<input
				id="intervencion"
				type="text"
				class="form-control col-md-3"
				name="intervencion"
			/>
		</div>
		<div class="col-md-6">
			<label for="motivo_consulta">Motivo de consulta</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="motivo_consulta"
				id="motivo_consulta"
				value="{{ paciente.motivo_consulta }}"
			/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="form-group">
			<label for="evaluacion">Evaluación</label>
			<textarea class="form-control" name="evaluacion" id="evaluacion" rows="3">
{{ paciente.id }}</textarea
			>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-4">
			<label for="tratamiento_psicofarm">Tratamiento psicofarmacológico</label>
			<input
				id="tratamiento_psicofarm"
				type="text"
				class="form-control col-md-3"
				name="tratamiento_psicofarm"
				value="{{ paciente.tratamiento_psicofarm }}"
			/>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="internacion">Internación</label>
				<select class="form-control" name="internacion" id="internacion">
					<option>Voluntaria</option>
					<option>Involuntaria</option>
					<option>No</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="derivacion">Derivación</label>
				<select class="form-control" name="derivacion" id="derivacion">
					<option selected disabled hidden>{{ paciente.derivacion }}</option>
					<option>Consultorios externos del hospital</option>
					<option>Región sanitaria XI</option>
					<option>Región Sanitaria VI</option>
					<option>Otras</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<label for="auxilio">Auxilio</label>
			<select class="form-control" name="auxilio" id="auxilio">
				<option>Sala</option>
				<option>Guardia clínica</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12">
			<label for="profesionales">Profesionales</label>
			<input
				id="profesionales"
				type="text"
				class="form-control col-md-3"
				name="profesionales"
				value="{{ paciente.profesionales }}"
				required
			/>
		</div>
	</div>
	<button type="submit" class="btn btn-primary w-25 mx-auto mt-3">
		{{ button }}
	</button>
	{% load static %} {% if button == 'Modificar' %}
	<button
		type="button"
		class="btn btn-primary w-25 mx-auto mt-3"
		onclick="nueva_visita('{{paciente.id}}')"
	>
		Añadir visita
	</button>
	<script src="{% static 'js/nueva_visita.js' %}"></script>
	{% endif %}
</form>
{% endblock %}
