{% extends 'crudromero/layout.html' %} {% block content %}
<form
	method="post"
	class="card card-body p-5 pb-4 w-75 mx-auto pt-2 mt-4"
	style="background-color: white"
>
	{% csrf_token %}
	<div class="text-center bg-secondary text-white rounded m-4 mt-2">
		{% if button != 'Guardar cambios' %}
		<h2 class="h2">Registro de pacientes</h2>
		{% else %}
		<h2 class="h2">Editar paciente</h2>
		{% endif %}
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<label for="fecha">Fecha</label>
			<input
				type="Date"
				class="form-control col-md-3"
				name="fecha"
				id="fecha"
				value="{{ paciente.fecha }}"
				min="2000-01-01"
				max="2262-04-01"
				required
			/>
			<!-- A "value" le asigno un texto placeholder por el momento -->
		</div>
		<div class="col-md-3">
			<label for="apellido">Apellido</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="apellido"
				value="{{ paciente.apellido }}"
				id="apellido"
				required
			/>
		</div>
		<div class="col-md-2">
			<label for="nombre">Nombre</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="nombre"
				id="nombre"
				value="{{ paciente.nombre }}"
			/>
		</div>
		<div class="row col-md-4 m-0 ps-0 pl-2">
			<div class="col-md-6">
				<label for="edad">Edad</label>
				<input
					type="number"
					class="form-control col-md-1"
					name="edad"
					id="edad"
					value="{{ paciente.edad }}"
				/>
			</div>
			<div class="col-md-6 px-0">
				<label for="hora">Hora</label>
				<input
					type="time"
					class="form-control col-md-3"
					name="hora"
					id="hora"
					value="{{ paciente.hora }}"
					required
				/>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<label for="dni">DNI</label>
			<input
				type="number"
				class="form-control col-md-1"
				class="form-control col-md-1"
				name="dni"
				id="dni"
				value="{{ paciente.dni }}"
				max="99999999"
				required
			/>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="sexo">Sexo</label>
				<select class="form-control" name="sexo" id="sexo">
					<option selected hidden>{{ paciente.sexo }}</option>
					<option>Hombre</option>
					<option>Mujer</option>
					<option>Otro</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<label for="domicilio">Domicilio</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="domicilio"
				id="domicilio"
				value="{{ paciente.domicilio }}"
			/>
		</div>
		<div class="col-md-3">
			<label for="telefono">Teléfono</label>
			<input
				type="number"
				class="form-control col-md-1"
				name="telefono"
				id="telefono"
				value="{{ paciente.telefono }}"
			/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="barrio">Barrio</label>
			<select class="form-control" name="barrio" id="barrio" required>
				<option selected hidden>{{ paciente.barrio }}</option>
				<option>Villa Elvira</option>
				<option>Tolosa</option>
				<option>Ringuelet</option>
				<option>Manuel B. Gonnet</option>
				<option>José Hernández</option>
				<option>Joaquín Gorina</option>
				<option>Los Hornos</option>
				<option>San Carlos</option>
				<option>City Bell</option>
				<option>Savoia</option>
				<option>Altos de San Lorenzo</option>
				<option>Villa Elisa</option>
				<option>El Peligro</option>
				<option>Arturo Seguí</option>
				<option>Melchor Romero</option>
				<option>Colonia Urquiza</option>
				<option>Abasto</option>
				<option>Lisandro Olmos</option>
				<option>Ángel Etcheverry</option>
				<option>Eduardo Arana</option>
				<option>Otro</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="region_sanitaria">Región sanitaria</label>
			<select
				class="form-control"
				name="region_sanitaria"
				id="region_sanitaria"
				required
			>
				<option selected hidden>{{ paciente.region_sanitaria }}</option>
				<option>Región sanitaria XI</option>
				<option>Región Sanitaria VI</option>
				<option>Otras</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="intervencion">Intervención</label>
			<input
				id="intervencion"
				type="text"
				class="form-control col-md-3"
				name="intervencion"
				value="{{ paciente.intervencion }}"
			/>
		</div>
		<div class="col-md-6">
			<label for="motivo_consulta">Motivo de consulta</label>
			<input
				type="text"
				class="form-control col-md-3"
				name="motivo_consulta"
				id="motivo_consulta"
				value="{{ paciente.motivo_consulta }}"
			/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="form-group">
			<label for="evaluacion">Evaluación</label>
			<textarea class="form-control" name="evaluacion" id="evaluacion" rows="3">
{{ paciente.id }}</textarea
			>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12">
			<label for="tratamiento_psicofarm">Tratamiento psicofarmacológico</label>
			<textarea
				class="form-control"
				name="tratamiento_psicofarm"
				id="tratamiento_psicofarm"
				rows="2"
			>
{{ paciente.tratamiento_psicofarm }}</textarea
			>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-4">
			<div class="form-group">
				<label for="internacion">Internación</label>
				<select
					class="form-control"
					name="internacion"
					id="internacion"
					required
				>
					<option selected hidden>{{ paciente.internacion }}</option>
					<option>Voluntaria</option>
					<option>Involuntaria</option>
					<option>No</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="derivacion">Derivación</label>
				<select class="form-control" name="derivacion" id="derivacion" required>
					<option selected hidden>{{ paciente.derivacion }}</option>
					<option>Consultorios externos del hospital</option>
					<option>Región sanitaria XI</option>
					<option>Región Sanitaria VI</option>
					<option>Otras</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<label for="auxilio">Auxilio</label>
			<select class="form-control" name="auxilio" id="auxilio">
				<option selected hidden>{{ paciente.auxilio }}</option>
				<option>Sala</option>
				<option>Guardia clínica</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="enfermedad_mental">Diagnóstico</label>
			<select class="form-control" name="enfermedad_mental" id="enfermedad_mental" required>
				<option selected hidden>{{ paciente.enfermedad_mental }}</option>
				{% for i in rango %}
				<option>{{i}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-6">
			<label for="obra_social">Obra social</label>
			<select class="form-control" name="obra_social" id="obra_social" required>
				<option selected hidden>{{ paciente.obra_social }}</option>
				<option>Si</option>
				<option>No</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12">
			<label for="profesionales">Profesionales</label>
			<textarea
				class="form-control"
				name="profesionales"
				id="profesionales"
				rows="3"
				required
			>
{{ paciente.profesionales }}</textarea
			>
		</div>
	</div>
	<button type="submit" class="btn btn-success w-25 mx-auto mt-3">
		{{ button }}
	</button>
{% load static %} {% if button == 'Guardar cambios' %}
	<button type="button" class="btn btn-primary w-25 mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
		Añadir visita
	</button>
</form>
<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="staticBackdropLabel">Añadir visita</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form
			action="{% url 'visita' paciente.id %}"
			method="POST"
			style="background-color: white"
			>
				{% csrf_token %}
				<div class="form-group">
					<label for="tratamiento_psicofarm">Tratamiento psicofarmacológico</label>
					<textarea
						id = "tratamiento_psicofarm_form"
						class="form-control"
						name="tratamiento_psicofarm"
						rows="2"
						required
					></textarea>
					<label for="intervencion">Intervención</label>
					<input
						id ="intervencion_form"
						type="text"
						class="form-control col-md-3"
						name="intervencion"
						required
					/>
					<label for="motivo_consulta">Motivo de consulta</label>
					<input
						id="motivo_consulta_form"
						type="text"
						class="form-control col-md-3"
						name="motivo_consulta"
						required
					/>
					<label for="evaluacion">Evaluación al día de la fecha</label>
					<textarea class="form-control" name="evaluacion" rows="3" required></textarea>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Añadir</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
		</div>
	</div>
</div>
{% else %}
</form>
{% endif %}
{% endblock %}
