{% extends 'crudromero/layout.html' %}
{% block content %}
    <div class="table-responsive table-sm ">
        <table class="table table-dark table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>DNI</th>
                    <th>Sexo</th>
                    <th>Domicilio</th>
                    <th>Teléfono</th>
                    <th>Barrio/Localidad</th>
                    <th>Región sanitaria</th>
                    <th>Motivo de consulta</th>
                    <th>Evaluación</th>
                    <th>Tratamiento psicofarmacológico</th>
                    <th>Internación</th>
                    <th>Derivación</th>
                    <th>Auxilio a sala</th>
                    <th>Intervención</th>
                    <th>Profesionales</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.fecha }}</td>
                    <td>{{ paciente.hora }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.dni }}</td>
                    <td>{{ paciente.sexo }}</td>
                    <td>{{ paciente.domicilio }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>{{ paciente.barrio }}</td>
                    <td>{{ paciente.region_sanitaria }}</td>
                    <td>{{ paciente.motivo_consulta }}</td>
                    <td>{{ paciente.evaluacion }}</td>
                    <td>{{ paciente.tratamiento_psicofarm }}</td>
                    <td>{{ paciente.internacion }}</td>
                    <td>{{ paciente.derivacion }}</td>
                    <td>{{ paciente.auxilio }}</td>
                    <td>{{ paciente.intervencion }}</td>
                    <td>{{ paciente.profesionales }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}