{% extends 'crudromero/layout_ver.html' %}
{% block tbody %}
    {% for paciente in pacientes %}
    <tr>
        <td>{{ paciente.fecha }}</td>
        <td>{{ paciente.hora }}</td>
        <td>{{ paciente.apellido }}</td>
        <td>{{ paciente.nombre }}</td>
        <td>{{ paciente.edad }}</td>
        <td>{{ paciente.dni }}</td>
        <td>{{ paciente.sexo }}</td>
        <td>{{ paciente.domicilio }}</td>
        <td>{{ paciente.telefono }}</td>
        <td>{{ paciente.barrio }}</td>
        <td>{{ paciente.region_sanitaria }}</td>
        <td>{{ paciente.motivo_consulta }}</td>
        <td>{{ paciente.evaluacion }}</td>
        <td>{{ paciente.tratamiento_psicofarm }}</td>
        <td>{{ paciente.internacion }}</td>
        <td>{{ paciente.derivacion }}</td>
        <td>{{ paciente.auxilio }}</td>
        <td>{{ paciente.intervencion }}</td>
        <td>{{ paciente.profesionales }}</td>
        <td></td>
    </tr>
    {% endfor %}
{% endblock %}
{% block div %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'ver_todo' text fin %}" class="btn btn-primary w-25 mt-3 {{ d_none }}" style="max-width: 10%; margin-right: 2%">Ver más</a>
    </div>
{% endblock %}